.pad {
    display: inline-block;
    float: none;
    width: 10em;
    height:10em;
    margin: 2px;
    background-color: #932113;
    white-space: nowrap;
    box-shadow:rgba(0, 0, 0, 0.0980392) -6px 6px 0px 0px inset;
}

.control{
    width: 200px;
    padding: 10px 15px 15px 15px;
    background:cyan;
    margin: 15px 4px 30px 10px;
    display: table-cell;
    white-space: nowrap;
    border: 15px solid white;
}

#sp{
    width: 25em;
    height:25em;
    float: left;
}