.pad {
    display: inline-block;
    float: none;
    width: 10em;
    height:10em;
    margin: 2px;
    background-color: #932113;
    white-space: nowrap;
    box-shadow:rgba(0, 0, 0, 0.0980392) -6px 6px 0px 0px inset;
}

.control{
    width: 200px;
    padding: 10px 15px 15px 15px;
    background:cyan;
    margin: 15px 4px 30px 10px;
    display: table-cell;
    white-space: nowrap;
    border: 15px solid white;
}

#sp{
    width: 25em;
    height:25em;
    float: left;
}

body{
    background-color: #CFD8DC;
}
section{
    border: 1px black solid;
}
/*Audio Controls*/
.audio-controls div{
    display:inline;
    padding-left: 15px;
    padding-top:20px;
}

.audio-controls{
    width: 100%;
    padding-left: 38%;
    margin-top: 35%;
    padding-top: 30px;
    padding-bottom: 31px;
}

.audio-controls>div:hover{
    
}

.primary-media-button{
    height: 90px;
    width: 90px;
}

.secondary-media-button{
    vertical-align: top;
    margin:33px;
}

#primary-volume-rocker{
    float:right;
    width: 200px;
    padding-right:40px;
    white-space: nowrap;
    margin-top: 20px;
}

#loop{
    float:left;
}

nav{
    background-color: #e53935;
    padding-left: 40px;
    padding-right: 40px;
}

.side-nav li{
    padding-left: 40px;
    padding-right: 40px;
}

input[type=range][orient=vertical]
{
    -webkit-transform: rotate(90); /* WebKit */
}

.waves-green{
    background-color: transparent;
    color: black;
}

.waves-green:hover{

}